* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cat {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

#body-container {
  background-color: #c4ebf9;
  padding: 35px;

  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-columns: 2fr 5fr;
  gap: 30px;
}

#body-container header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  background-color: #02bfb1;
}

#body-container aside {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #6edb6e;
}

#body-container article {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 200px;
  background-color: #fbb04c;
}
#body-container footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  background-color: #02bfb1;
}
